function less(one,two){
 		if(one < two) return "1";
 		else return "0";
 	}
 	
 	function more(one,two){
 		if(one < two) return "0";
 		else return "1";
 	}
 	
 	function durr(){
 		var object1 = g_fuzzle;
 		var object2 = g_obstacle[0];
 		// Defines hitbox parameters
 		var lower_x_1 = object1.posx;
 		var upper_x_1 = object1.posx + object1.width;
 	
 		var lower_y_1 = object1.posy;
 		var upper_y_1 = object1.posy + object1.height;
 		
 		var lower_x_2 = object2.posx;
 		var upper_x_2 = object2.posx + object2.width;
 		
 		var lower_y_2 = object2.posy;
 		var upper_y_2 = object2.posy + object2.height;
 		
 		//alert("" + lower_x_1 + "," + lower_y_1 + ")" + "(" + lower_x_1 + "," + lower_y_1 + ")" + "(" + lower_x_1 + "," + lower_y_1 + ")" + "(" + lower_x_1 + "," + lower_y_1 + ")")
 		
 		var x = (more(lower_x_1,lower_x_2));
 		
 		alert(more(lower_x_1,lower_x_2) + " " + less(lower_x_1,upper_x_2) + " " + more(upper_x_1,lower_x_2)	+ " " +
 		less(upper_x_1,upper_x_2) + " " + more(lower_y_1,lower_y_2) + " " + less(lower_y_1,upper_y_2) + " " + more(upper_y_1,lower_y_2) + " " +
 		less(upper_y_1,upper_y_2));
 		// If the objects intersect, call collide.
 		if ( (((lower_x_1 > lower_x_2) && (lower_x_1 < upper_x_2)) || ((upper_x_1 > lower_x_2) && (upper_x_1 < upper_x_2))) &&
 			 (((lower_y_1 > lower_y_2) && (lower_y_1 < upper_y_2)) || ((upper_y_1 > lower_y_2) && (upper_y_1 < upper_y_2)))){
 			object1.collided();
 			object2.collided();
 			alert("got in");
 		}
 	}